// Colors
$mura-terracotta: #A65E3A;
$mura-green: #587E3A;
$mura-poppy: #CE362C;
$mura-blue: #A9BCCD;
$mura-sand: #E8D8C8;
$mura-light: #F9F6F0;
$mura-dark: #cf7500;

$primary: $mura-terracotta;
$secondary: $mura-sand;
$success: #448A47;
$info: $mura-blue;
$warning: #F4A261;
$danger: $mura-poppy;
$light: $mura-light;
$dark: $mura-dark;

$body-bg:         $light;

//$link-color:      $mura-terracotta;
$link-hover-color: darken($mura-terracotta, 10%);

//$border-color:    $mura-sand;

$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: 'Lora', serif;

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  
  6: $spacer * 5,
  7: $spacer * 8,
  8: $spacer * 12
);

$font-size-base: 1rem;

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/scss/bootstrap';

.hover-white {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
    &:hover, &.active {
        color: #ffffff !important;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.375rem;
    }
}

.nav-link {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    
    &:hover {
        text-decoration: underline;

    }
}

.btn-foglalas {
    letter-spacing: 1px;
    font-size: 1rem;
}

.footer-links {
    a {
        color: black;
        text-decoration: none;
    }
}