// Colors
$mura-terracotta: #A65E3A;
$mura-green: #587E3A;
$mura-poppy: #CE362C;
$mura-blue: #6bbaff;
$mura-sand: #E8D8C8;
$mura-light: #F9F6F0;
$mura-dark: #555555;

$primary: $mura-terracotta;
$secondary: $mura-sand;
$info: $mura-blue;
$light: $mura-light;
$dark: $mura-dark;

$body-bg:         $light;

//$link-color:      $mura-terracotta;
$link-hover-color: darken($mura-terracotta, 10%);

//$border-color:    $mura-sand;

$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: 'Lora', serif;

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  
  6: $spacer * 5,
  7: $spacer * 8,
  8: $spacer * 12
);

$font-size-base: 1rem;

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/scss/bootstrap';

.hover-white {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
    &:hover, &.active {
        color: #ffffff !important;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.375rem;
    }
}

.nav-link {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.frontend-nav-ha {
    &:hover, &:active {
        text-decoration: underline;
    }
}

.btn-foglalas {
    letter-spacing: 1px;
    font-size: 1rem;
}

.footer-links {
    a {
        color: black;
        text-decoration: none;
    }
}

.parallax-window {
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}

.hero-image {
    height: 860px;
    object-fit: cover;
    object-position: center;
}

.booking-hero-image {
    height: 560px;
    object-fit: cover;
    object-position: center;
}

.logo-image {
    max-height: 60px;
    width: auto
}

.zigzag-image {
    object-fit: cover;
    height: 100%;
}

.review-subtitle {
    letter-spacing: 1.5px;
    font-size: 0.85rem;
}

@for $i from 1 through 10 {
    .ls-#{$i} {
        letter-spacing: #{$i}px !important;
    }
}

.lh-17 {
    line-height: 1.7;
}

.sticky-prices {
    top: 2rem;
}

.icon-giant-check {
    font-size: clamp(6rem, 10vw, 10rem) !important;
    line-height: 1 !important;
}

.hover-lift { 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.hover-lift:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer; 
}